src/client/.cocos-project.json
src/client/.project
src/client/.settings/
src/client/cocosstudio/
src/client/bubbleDragonSecondLua.ccs
src/client/bubbleDragonSecondLua.cfg
src/client/bubbleDragonSecondLua.udf
src/client/frameworks/cocos2d-x/
src/client/frameworks/CMakeLists.txt
src/client/frameworks/runtime-src/proj.android/
src/client/frameworks/runtime-src/proj.win32/
src/client/simulator/
src/client/src/cocos/
src/client/runtime/win32/
src/client/frameworks/runtime-src/proj.ios_mac/
src/client/frameworks/runtime-src/proj.android-studio/
src/client/src/packages/mvc/AppBase.lua
src/client/src/packages/mvc/ViewBase.lua
src/client/src/packages/mvc/init.lua
UI/
