.cocos-project.json
.project
.settings/
cocosstudio/
bubbleDragonSecondLua.ccs
bubbleDragonSecondLua.cfg
bubbleDragonSecondLua.udf
config.json
frameworks/cocos2d-x/
frameworks/CMakeLists.txt
frameworks/runtime-src/proj.android/
frameworks/runtime-src/proj.win32/
simulator/
src/cocos/
runtime/win32/
frameworks/runtime-src/proj.ios_mac/
frameworks/runtime-src/proj.android-studio/
src/packages/mvc/AppBase.lua
src/packages/mvc/ViewBase.lua
src/packages/mvc/init.lua
