<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>jineng3_0001_20.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>58</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jineng3_0000_21.png</key>
			<dict>
				<key>width</key>
				<integer>139</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>139</integer>
				<key>originalHeight</key>
				<integer>136</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>60</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jineng4_0000_qiu4.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>157</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>141</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>jineng4_0019_1.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>157</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>141</integer>
				<key>y</key>
				<integer>82</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>jineng4_0018_2.png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>157</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>250</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>jineng4_0017_3.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>157</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>250</integer>
				<key>y</key>
				<integer>103</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>jineng4_0016_4.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>157</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>365</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>jineng4_0015_5.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>157</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>371</integer>
				<key>y</key>
				<integer>103</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>jineng4_0014_6.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>157</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>jineng4_0013_7.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>157</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>303</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>jineng4_0012_8.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>157</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>106</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>jineng4_0011_9.png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>157</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>103</integer>
				<key>y</key>
				<integer>317</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>jineng4_0010_10.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>157</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>214</integer>
				<key>y</key>
				<integer>206</integer>
				<key>offsetX</key>
				<real>-9.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>jineng4_0009_11.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>157</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>214</integer>
				<key>y</key>
				<integer>319</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>jineng4_0008_12.png</key>
			<dict>
				<key>width</key>
				<integer>108</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>157</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>328</integer>
				<key>y</key>
				<integer>213</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>jineng4_0007_13.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>157</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>318</integer>
				<key>y</key>
				<integer>322</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>jineng4_0006_14.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>157</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>474</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>jineng4_0005_15.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>157</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>474</integer>
				<key>y</key>
				<integer>118</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>jineng4_0004_16.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>157</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>601</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>jineng4_0003_17.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>157</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>699</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>jineng4_0002_18.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>157</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>601</integer>
				<key>y</key>
				<integer>104</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>jineng4_0001_19.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>157</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>438</integer>
				<key>y</key>
				<integer>240</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>juesejinengTX40.png</string>
			<key>realTextureFileName</key>
			<string>juesejinengTX40.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>