<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>guaiwuTX_0003_1.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>226</integer>
				<key>originalHeight</key>
				<integer>222</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>guaiwuTX_0002_2.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>226</integer>
				<key>originalHeight</key>
				<integer>222</integer>
				<key>x</key>
				<integer>78</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>guaiwuTX_0001_3.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>177</integer>
				<key>originalWidth</key>
				<integer>226</integer>
				<key>originalHeight</key>
				<integer>222</integer>
				<key>x</key>
				<integer>194</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>guaiwuTX_0000_4.png</key>
			<dict>
				<key>width</key>
				<integer>197</integer>
				<key>height</key>
				<integer>197</integer>
				<key>originalWidth</key>
				<integer>226</integer>
				<key>originalHeight</key>
				<integer>222</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>179</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>222222.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>226</integer>
				<key>originalHeight</key>
				<integer>222</integer>
				<key>x</key>
				<integer>199</integer>
				<key>y</key>
				<integer>179</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiongda_0001_xiongda-yanqiu.png</key>
			<dict>
				<key>width</key>
				<integer>7</integer>
				<key>height</key>
				<integer>7</integer>
				<key>originalWidth</key>
				<integer>7</integer>
				<key>originalHeight</key>
				<integer>7</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>80</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiongda_0000_xiongda-toufa.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>37</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>89</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiongda_0009_xiongda-tou1.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>191</integer>
				<key>originalWidth</key>
				<integer>162</integer>
				<key>originalHeight</key>
				<integer>191</integer>
				<key>x</key>
				<integer>421</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiongda_0007_xiongda-tou2.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>191</integer>
				<key>originalWidth</key>
				<integer>162</integer>
				<key>originalHeight</key>
				<integer>191</integer>
				<key>x</key>
				<integer>585</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiongda_0002_xiongda-tou7.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>194</integer>
				<key>originalWidth</key>
				<integer>162</integer>
				<key>originalHeight</key>
				<integer>194</integer>
				<key>x</key>
				<integer>421</integer>
				<key>y</key>
				<integer>193</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiongda_0002_xiongda-tou8.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>191</integer>
				<key>originalWidth</key>
				<integer>162</integer>
				<key>originalHeight</key>
				<integer>194</integer>
				<key>x</key>
				<integer>749</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>xiongda_0003_xiongda-tou6.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>194</integer>
				<key>originalWidth</key>
				<integer>162</integer>
				<key>originalHeight</key>
				<integer>194</integer>
				<key>x</key>
				<integer>585</integer>
				<key>y</key>
				<integer>193</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiongda_0004_xiongda-tou5.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>191</integer>
				<key>originalWidth</key>
				<integer>162</integer>
				<key>originalHeight</key>
				<integer>191</integer>
				<key>x</key>
				<integer>749</integer>
				<key>y</key>
				<integer>193</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiongda_0005_xiongda-tou4.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>191</integer>
				<key>originalWidth</key>
				<integer>162</integer>
				<key>originalHeight</key>
				<integer>191</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>378</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiongda_0006_xiongda-tou3.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>191</integer>
				<key>originalWidth</key>
				<integer>162</integer>
				<key>originalHeight</key>
				<integer>191</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiongda_0002_xiongda-tou9.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>191</integer>
				<key>originalWidth</key>
				<integer>162</integer>
				<key>originalHeight</key>
				<integer>191</integer>
				<key>x</key>
				<integer>164</integer>
				<key>y</key>
				<integer>401</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiongda_0012_xiongda-R-erduo.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>328</integer>
				<key>y</key>
				<integer>401</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiongda_0013_xiongda-L-erduo.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>164</integer>
				<key>y</key>
				<integer>594</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiongda_0011_xiongda-L-shoubi.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>39</integer>
				<key>y</key>
				<integer>119</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiongda_0010_xiongda-R-shoubi.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>111</integer>
				<key>y</key>
				<integer>119</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>xiongda0.png</string>
			<key>realTextureFileName</key>
			<string>xiongda0.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>