<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mifengTX2_0000_lan-4.png</key>
			<dict>
				<key>width</key>
				<integer>249</integer>
				<key>height</key>
				<integer>232</integer>
				<key>originalWidth</key>
				<integer>279</integer>
				<key>originalHeight</key>
				<integer>279</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>mifengTX2_0001_lan-3.png</key>
			<dict>
				<key>width</key>
				<integer>236</integer>
				<key>height</key>
				<integer>236</integer>
				<key>originalWidth</key>
				<integer>279</integer>
				<key>originalHeight</key>
				<integer>279</integer>
				<key>x</key>
				<integer>251</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>mifengTX2_0002_lan-2.png</key>
			<dict>
				<key>width</key>
				<integer>227</integer>
				<key>height</key>
				<integer>238</integer>
				<key>originalWidth</key>
				<integer>279</integer>
				<key>originalHeight</key>
				<integer>279</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>234</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>mifengTX2_0003_lan-1.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>279</integer>
				<key>originalHeight</key>
				<integer>279</integer>
				<key>x</key>
				<integer>229</integer>
				<key>y</key>
				<integer>238</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>mifengTX2_0008_fen-4.png</key>
			<dict>
				<key>width</key>
				<integer>249</integer>
				<key>height</key>
				<integer>232</integer>
				<key>originalWidth</key>
				<integer>279</integer>
				<key>originalHeight</key>
				<integer>279</integer>
				<key>x</key>
				<integer>489</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>mifengTX2_0009_fen-3.png</key>
			<dict>
				<key>width</key>
				<integer>236</integer>
				<key>height</key>
				<integer>236</integer>
				<key>originalWidth</key>
				<integer>279</integer>
				<key>originalHeight</key>
				<integer>279</integer>
				<key>x</key>
				<integer>390</integer>
				<key>y</key>
				<integer>238</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>mifengTX2_0010_fen-2.png</key>
			<dict>
				<key>width</key>
				<integer>227</integer>
				<key>height</key>
				<integer>238</integer>
				<key>originalWidth</key>
				<integer>279</integer>
				<key>originalHeight</key>
				<integer>279</integer>
				<key>x</key>
				<integer>740</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>mifengTX2_0011_fen-1.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>279</integer>
				<key>originalHeight</key>
				<integer>279</integer>
				<key>x</key>
				<integer>628</integer>
				<key>y</key>
				<integer>240</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>yun30.png</string>
			<key>realTextureFileName</key>
			<string>yun30.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>