<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Q-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,77},{55,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,100}}</string>
                <key>sourceSize</key>
                <string>{55,100}</string>
            </dict>
            <key>X-cheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1724},{126,127}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{126,127}}</string>
                <key>sourceSize</key>
                <string>{126,129}</string>
            </dict>
            <key>X-fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,1406},{126,127}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{126,127}}</string>
                <key>sourceSize</key>
                <string>{126,129}</string>
            </dict>
            <key>X-hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,1403},{126,127}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{126,127}}</string>
                <key>sourceSize</key>
                <string>{126,129}</string>
            </dict>
            <key>X-huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,1274},{126,127}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{126,127}}</string>
                <key>sourceSize</key>
                <string>{126,129}</string>
            </dict>
            <key>X-lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,1145},{126,127}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{126,127}}</string>
                <key>sourceSize</key>
                <string>{126,129}</string>
            </dict>
            <key>X-lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,1145},{126,127}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{126,127}}</string>
                <key>sourceSize</key>
                <string>{126,129}</string>
            </dict>
            <key>X-purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1595},{126,127}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{126,127}}</string>
                <key>sourceSize</key>
                <string>{126,129}</string>
            </dict>
            <key>XiaoYao-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,262},{50,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,73}}</string>
                <key>sourceSize</key>
                <string>{50,73}</string>
            </dict>
            <key>XiaoYao-tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,1024},{119,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,131}}</string>
                <key>sourceSize</key>
                <string>{119,131}</string>
            </dict>
            <key>addBubbleNumble.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,1916},{89,89}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{89,89}}</string>
                <key>sourceSize</key>
                <string>{105,97}</string>
            </dict>
            <key>anniu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,891},{154,131}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{154,131}}</string>
                <key>sourceSize</key>
                <string>{154,139}</string>
            </dict>
            <key>anniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,1535},{154,133}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{154,133}}</string>
                <key>sourceSize</key>
                <string>{154,139}</string>
            </dict>
            <key>anniu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1863},{154,133}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{154,133}}</string>
                <key>sourceSize</key>
                <string>{154,139}</string>
            </dict>
            <key>anniucaidan.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{1309,586},{166,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,151}}</string>
                <key>sourceSize</key>
                <string>{166,151}</string>
            </dict>
            <key>anniuqueding.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{471,1745},{226,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,116}}</string>
                <key>sourceSize</key>
                <string>{226,116}</string>
            </dict>
            <key>anniuquxiao.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{1045,1015},{226,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,116}}</string>
                <key>sourceSize</key>
                <string>{226,116}</string>
            </dict>
            <key>anniushuliang.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{1191,1971},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>anniutianjia.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{1112,1971},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>bangz.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1863},{109,118}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,118}}</string>
                <key>sourceSize</key>
                <string>{109,122}</string>
            </dict>
            <key>caisedian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,1733},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>chengdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,1825},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>chongw.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,1535},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dahuo-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1983},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{44,38}</string>
            </dict>
            <key>daojd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,1535},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>daoju.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1853},{112,110}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{112,110}}</string>
                <key>sourceSize</key>
                <string>{118,116}</string>
            </dict>
            <key>daojucaiqiu.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{1465,858},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>daojumofabang.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{1440,1637},{95,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>daojumuchui.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{340,1952},{81,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,83}}</string>
                <key>sourceSize</key>
                <string>{81,83}</string>
            </dict>
            <key>daojuzhadan.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{1474,1145},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1359},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,1371},{336,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,191}}</string>
                <key>sourceSize</key>
                <string>{336,191}</string>
            </dict>
            <key>djk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,2},{500,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,190}}</string>
                <key>sourceSize</key>
                <string>{500,190}</string>
            </dict>
            <key>djkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,619},{510,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,148}}</string>
                <key>sourceSize</key>
                <string>{510,148}</string>
            </dict>
            <key>duigou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,391},{47,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,41}}</string>
                <key>sourceSize</key>
                <string>{47,41}</string>
            </dict>
            <key>fendian.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,2019},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>fzx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,179},{51,81}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{51,81}}</string>
                <key>sourceSize</key>
                <string>{57,85}</string>
            </dict>
            <key>guanb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,1859},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,1647},{93,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,92}}</string>
                <key>sourceSize</key>
                <string>{93,92}</string>
            </dict>
            <key>guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1359},{467,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,467}}</string>
                <key>sourceSize</key>
                <string>{467,467}</string>
            </dict>
            <key>guanka.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1828},{423,122}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,122}}</string>
                <key>sourceSize</key>
                <string>{425,124}</string>
            </dict>
            <key>guanyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1745},{116,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,110}}</string>
                <key>sourceSize</key>
                <string>{116,110}</string>
            </dict>
            <key>hongdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,1709},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>huangdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,1274},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>j10p.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,1825},{89,89}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{89,89}}</string>
                <key>sourceSize</key>
                <string>{105,97}</string>
            </dict>
            <key>jiah.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,1647},{51,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,46}}</string>
                <key>sourceSize</key>
                <string>{51,46}</string>
            </dict>
            <key>jinb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,1700},{35,37}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>jixu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1859},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>jixu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1368},{225,116}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,116}}</string>
                <key>sourceSize</key>
                <string>{229,116}</string>
            </dict>
            <key>juese.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1371},{266,372}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{266,372}}</string>
                <key>sourceSize</key>
                <string>{276,388}</string>
            </dict>
            <key>kaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,1131},{235,119}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,119}}</string>
                <key>sourceSize</key>
                <string>{239,121}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{605,738}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{605,738}}</string>
                <key>sourceSize</key>
                <string>{605,738}</string>
            </dict>
            <key>kuangdaoju.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,1024},{119,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,115}}</string>
                <key>sourceSize</key>
                <string>{119,115}</string>
            </dict>
            <key>kuangliubianxing.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{427,1863},{182,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,166}}</string>
                <key>sourceSize</key>
                <string>{182,166}</string>
            </dict>
            <key>kuangshiyongdaoju.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{1030,2},{606,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,264}}</string>
                <key>sourceSize</key>
                <string>{606,264}</string>
            </dict>
            <key>kuosan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2022},{19,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,54}}</string>
                <key>sourceSize</key>
                <string>{19,54}</string>
            </dict>
            <key>landian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1348},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>lvdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1328},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>paopaocheng.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{1270,1887},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>paopaofen.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1807},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>paopaoheidong.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{1416,1888},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>paopaohong.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1815},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>paopaohuang.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{1343,1961},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>paopaolan.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1733},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>paopaolv.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{1357,1741},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>paopaoshandian.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{1343,1888},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>paopaotouming.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{1270,1961},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>paopaotoumingsanjiao.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{1367,1274},{130,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,123}}</string>
                <key>sourceSize</key>
                <string>{130,123}</string>
            </dict>
            <key>paopaoyun.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{1461,775},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>paopaozhadan.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{1358,1815},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>paopaozi.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1741},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>rainbow_charactor_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,1328},{205,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,187}}</string>
                <key>sourceSize</key>
                <string>{205,187}</string>
            </dict>
            <key>rainbow_charactor_swirl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1133},{200,193}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,193}}</string>
                <key>sourceSize</key>
                <string>{200,197}</string>
            </dict>
            <key>shangc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,1740},{120,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,117}}</string>
                <key>sourceSize</key>
                <string>{120,117}</string>
            </dict>
            <key>shibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,2},{419,615}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,615}}</string>
                <key>sourceSize</key>
                <string>{419,615}</string>
            </dict>
            <key>shurk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1952},{240,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,68}}</string>
                <key>sourceSize</key>
                <string>{240,68}</string>
            </dict>
            <key>tangseng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,610},{262,403}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,403}}</string>
                <key>sourceSize</key>
                <string>{262,403}</string>
            </dict>
            <key>touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,739},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>uishang.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{793,619},{750,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,100}}</string>
                <key>sourceSize</key>
                <string>{750,100}</string>
            </dict>
            <key>uixia.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{609,619},{750,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,182}}</string>
                <key>sourceSize</key>
                <string>{750,182}</string>
            </dict>
            <key>vol_switch_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,504},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>wanftb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,2},{73,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,57}}</string>
                <key>sourceSize</key>
                <string>{73,57}</string>
            </dict>
            <key>wanftb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,1647},{79,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,58}}</string>
                <key>sourceSize</key>
                <string>{79,58}</string>
            </dict>
            <key>wanftb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,1971},{81,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,63}}</string>
                <key>sourceSize</key>
                <string>{81,63}</string>
            </dict>
            <key>wanftb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1983},{68,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>windmill_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,936},{70,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,77}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>xiaokuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{605,615}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{605,615}}</string>
                <key>sourceSize</key>
                <string>{605,615}</string>
            </dict>
            <key>xin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,337},{52,43}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,43}}</string>
                <key>sourceSize</key>
                <string>{56,45}</string>
            </dict>
            <key>xingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,1709},{119,114}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,114}}</string>
                <key>sourceSize</key>
                <string>{123,116}</string>
            </dict>
            <key>yaoshui.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1952},{93,94}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,94}}</string>
                <key>sourceSize</key>
                <string>{115,102}</string>
            </dict>
            <key>yinxan.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1965},{95,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,70}}</string>
                <key>sourceSize</key>
                <string>{95,70}</string>
            </dict>
            <key>yinxd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,1670},{143,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,68}}</string>
                <key>sourceSize</key>
                <string>{143,68}</string>
            </dict>
            <key>yinxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,1740},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>yinxk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1477,586},{187,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,68}}</string>
                <key>sourceSize</key>
                <string>{187,68}</string>
            </dict>
            <key>yinyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,1535},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zidian.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,1828},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>zuans.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,1222},{49,49}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{57,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameRes.png</string>
            <key>size</key>
            <string>{1547,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:187c0a844a9ce56267e5a0b0988815dc$</string>
            <key>textureFileName</key>
            <string>gameRes.png</string>
        </dict>
    </dict>
</plist>
