<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ga-mng01.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>261</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>11.5</real>
			</dict>
			<key>ga-mng02.png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>261</integer>
				<key>x</key>
				<integer>102</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>ga-mng03.png</key>
			<dict>
				<key>width</key>
				<integer>265</integer>
				<key>height</key>
				<integer>261</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>261</integer>
				<key>x</key>
				<integer>259</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ga-mng04.png</key>
			<dict>
				<key>width</key>
				<integer>247</integer>
				<key>height</key>
				<integer>238</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>261</integer>
				<key>x</key>
				<integer>526</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>ga-mng05.png</key>
			<dict>
				<key>width</key>
				<integer>253</integer>
				<key>height</key>
				<integer>238</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>261</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>263</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>ga-mng06.png</key>
			<dict>
				<key>width</key>
				<integer>265</integer>
				<key>height</key>
				<integer>249</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>261</integer>
				<key>x</key>
				<integer>255</integer>
				<key>y</key>
				<integer>263</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>taqing_bow_1.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>130</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>522</integer>
				<key>y</key>
				<integer>263</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>taqing_bow_2.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>130</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>554</integer>
				<key>y</key>
				<integer>263</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>taqing_bow_3.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>130</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>609</integer>
				<key>y</key>
				<integer>263</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>taqing_bow_4.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>130</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>690</integer>
				<key>y</key>
				<integer>263</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>taqing_bow_5.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>130</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>779</integer>
				<key>y</key>
				<integer>263</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>taqing_bow_6.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>130</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>878</integer>
				<key>y</key>
				<integer>263</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>taqing_bow_7.png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>130</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>514</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>taqing_bow_8.png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>130</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>117</integer>
				<key>y</key>
				<integer>514</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>zhadan02-TX0.png</string>
			<key>realTextureFileName</key>
			<string>zhadan02-TX0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>