<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>decals_charactor</key>
        <array>
            <dict>
                <key>path</key>
                <string>decals (2).png</string>
                <key>x</key>
                <integer>1</integer>
                <key>y</key>
                <integer>3</integer>
            </dict>
            <dict>
                <key>path</key>
                <string>decals (3).png</string>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>3</integer>
            </dict>
            <dict>
                <key>path</key>
                <string>decals (4).png</string>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>3</integer>
            </dict>
        </array>
    </dict>
</plist>
