<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>game_store_props_data</key>
        <array>
            <dict>
                <key>cost_type</key>
                <string>diamond</string>
                <key>item_props_data</key>
                <dict>
                    <key>colorBomb</key>
                    <integer>1</integer>
                </dict>
                <key>cost</key>
                <integer>20</integer>
            </dict>
            <dict>
                <key>cost_type</key>
                <string>diamond</string>
                <key>item_props_data</key>
                <dict>
                    <key>bigBombBomb</key>
                    <integer>1</integer>
                </dict>
                <key>cost</key>
                <integer>20</integer>
            </dict>
            <dict>
                <key>cost_type</key>
                <string>diamond</string>
                <key>item_props_data</key>
                <dict>
                    <key>woodenHammer</key>
                    <integer>1</integer>
                </dict>
                <key>cost</key>
                <integer>15</integer>
            </dict>
            <dict>
                <key>cost_type</key>
                <string>diamond</string>
                <key>item_props_data</key>
                <dict>
                    <key>staves</key>
                    <integer>1</integer>
                </dict>
                <key>cost</key>
                <integer>20</integer>
            </dict>
            <dict>
                <key>cost_type</key>
                <string>diamond</string>
                <key>item_props_data</key>
                <dict>
                    <key>strength</key>
                    <integer>1</integer>
                </dict>
                <key>cost</key>
                <integer>10</integer>
            </dict>
            <dict>
                <key>cost_type</key>
                <string>diamond</string>
                <key>item_props_data</key>
                <dict>
                    <key>strength</key>
                    <integer>5</integer>
                </dict>
                <key>cost</key>
                <integer>30</integer>
            </dict>
            <dict>
                <key>cost_type</key>
                <string>diamond</string>
                <key>item_props_data</key>
                <dict>
                    <key>strength</key>
                    <integer>10</integer>
                </dict>
                <key>cost</key>
                <integer>50</integer>
            </dict>
            <dict>
                <key>cost_type</key>
                <string>coin</string>
                <key>item_props_data</key>
                <dict>
                    <key>search</key>
                    <integer>1</integer>
                </dict>
                <key>cost</key>
                <integer>3000</integer>
            </dict>
            <dict>
                <key>cost_type</key>
                <string>coin</string>
                <key>item_props_data</key>
                <dict>
                    <key>search</key>
                    <integer>1</integer>
                </dict>
                <key>cost</key>
                <integer>3000</integer>
            </dict>
            <dict>
                <key>cost_type</key>
                <string>coin</string>
                <key>item_props_data</key>
                <dict>
                    <key>bigEyes</key>
                    <integer>1</integer>
                </dict>
                <key>cost</key>
                <integer>2000</integer>
            </dict>
            <dict>
                <key>cost_type</key>
                <string>coin</string>
                <key>item_props_data</key>
                <dict>
                    <key>addTime</key>
                    <integer>1</integer>
                </dict>
                <key>cost</key>
                <integer>3000</integer>
            </dict>
            <dict>
                <key>cost_type</key>
                <string>diamond</string>
                <key>item_props_data</key>
                <dict>
                    <key>colorBomb</key>
                    <integer>3</integer>
                </dict>
                <key>cost</key>
                <integer>50</integer>
            </dict>
            <dict>
                <key>cost_type</key>
                <string>diamond</string>
                <key>item_props_data</key>
                <dict>
                    <key>bigBombBomb</key>
                    <integer>3</integer>
                </dict>
                <key>cost</key>
                <integer>50</integer>
            </dict>
            <dict>
                <key>cost_type</key>
                <string>diamond</string>
                <key>item_props_data</key>
                <dict>
                    <key>woodenHammer</key>
                    <integer>5</integer>
                </dict>
                <key>cost</key>
                <integer>60</integer>
            </dict>
            <dict>
                <key>cost_type</key>
                <string>diamond</string>
                <key>item_props_data</key>
                <dict>
                    <key>staves</key>
                    <integer>3</integer>
                </dict>
                <key>cost</key>
                <integer>50</integer>
            </dict>
            <dict>
                <key>cost_type</key>
                <string>diamond</string>
                <key>item_props_data</key>
                <dict>
                    <key>coin</key>
                    <integer>30000</integer>
                </dict>
                <key>cost</key>
                <integer>50</integer>
            </dict>
            <dict>
                <key>cost_type</key>
                <string>diamond</string>
                <key>item_props_data</key>
                <dict>
                    <key>coin</key>
                    <integer>100000</integer>
                </dict>
                <key>cost</key>
                <integer>120</integer>
            </dict>
            <dict>
                <key>cost_type</key>
                <string>diamond</string>
                <key>item_props_data</key>
                <dict>
                    <key>coin</key>
                    <integer>10000</integer>
                </dict>
                <key>cost</key>
                <integer>30</integer>
            </dict>
        </array>
        <key>game_store_gift_data</key>
        <array>
            <dict>
                <key>gift_texture_path</key>
                <string>libao_chaozhi.PNG</string>
                <key>cost</key>
                <integer>16</integer>
                <key>item_props_data</key>
                <array>
                    <dict>
                        <key>colorBomb</key>
                        <integer>6</integer>
                    </dict>
                    <dict>
                        <key>staves</key>
                        <integer>7</integer>
                    </dict>
                    <dict>
                        <key>bigBombBomb</key>
                        <integer>8</integer>
                    </dict>
                    <dict>
                        <key>diamond</key>
                        <integer>288</integer>
                    </dict>
                </array>
                <key>targetID</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>gift_texture_path</key>
                <string>libao_tehui.PNG</string>
                <key>cost</key>
                <integer>12</integer>
                <key>item_props_data</key>
                <array>
                    <dict>
                        <key>woodenHammer</key>
                        <integer>5</integer>
                    </dict>
                    <dict>
                        <key>bigBombBomb</key>
                        <integer>6</integer>
                    </dict>
                    <dict>
                        <key>coin</key>
                        <integer>70000</integer>
                    </dict>
                    <dict>
                        <key>diamond</key>
                        <integer>180</integer>
                    </dict>
                </array>
                <key>targetID</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>gift_texture_path</key>
                <string>libao_changwan.PNG</string>
                <key>cost</key>
                <integer>5</integer>
                <key>item_props_data</key>
                <array>
                    <dict>
                        <key>strength</key>
                        <integer>18</integer>
                    </dict>
                    <dict>
                        <key>staves</key>
                        <integer>7</integer>
                    </dict>
                    <dict>
                        <key>bigBombBomb</key>
                        <integer>8</integer>
                    </dict>
                </array>
                <key>targetID</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>gift_texture_path</key>
                <string>libao_xinshou.PNG</string>
                <key>cost</key>
                <real>0.1000000000000000</real>
                <key>item_props_data</key>
                <array>
                    <dict>
                        <key>colorBomb</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>bigBombBomb</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>woodenHammer</key>
                        <integer>1</integer>
                    </dict>
                    <dict>
                        <key>staves</key>
                        <integer>1</integer>
                    </dict>
                </array>
                <key>targetID</key>
                <integer>0</integer>
            </dict>
        </array>
        <key>game_store_diamond_data</key>
        <array>
            <dict>
                <key>cost</key>
                <integer>20</integer>
                <key>game_store_diamond_discount</key>
                <integer>5</integer>
                <key>item_props_data</key>
                <dict>
                    <key>diamond</key>
                    <integer>810</integer>
                </dict>
                <key>targetID</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>cost</key>
                <integer>15</integer>
                <key>game_store_diamond_discount</key>
                <integer>6</integer>
                <key>item_props_data</key>
                <dict>
                    <key>diamond</key>
                    <integer>500</integer>
                </dict>
                <key>targetID</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>cost</key>
                <integer>15</integer>
                <key>game_store_diamond_discount</key>
                <integer>6</integer>
                <key>item_props_data</key>
                <dict>
                    <key>diamond</key>
                    <integer>500</integer>
                </dict>
                <key>targetID</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>cost</key>
                <integer>10</integer>
                <key>game_store_diamond_discount</key>
                <integer>7</integer>
                <key>item_props_data</key>
                <dict>
                    <key>diamond</key>
                    <integer>285</integer>
                </dict>
                <key>targetID</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>cost</key>
                <integer>6</integer>
                <key>game_store_diamond_discount</key>
                <integer>5</integer>
                <key>item_props_data</key>
                <dict>
                    <key>diamond</key>
                    <integer>240</integer>
                </dict>
                <key>targetID</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>cost</key>
                <integer>6</integer>
                <key>game_store_diamond_discount</key>
                <integer>8</integer>
                <key>item_props_data</key>
                <dict>
                    <key>diamond</key>
                    <integer>75</integer>
                </dict>
                <key>targetID</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>cost</key>
                <integer>2</integer>
                <key>game_store_diamond_discount</key>
                <integer>9</integer>
                <key>item_props_data</key>
                <dict>
                    <key>diamond</key>
                    <integer>45</integer>
                </dict>
                <key>targetID</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>cost</key>
                <integer>1</integer>
                <key>game_store_diamond_discount</key>
                <integer>10</integer>
                <key>item_props_data</key>
                <dict>
                    <key>diamond</key>
                    <integer>20</integer>
                </dict>
                <key>targetID</key>
                <integer>0</integer>
            </dict>
        </array>
    </dict>
</plist>
