<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>E:\svn\games\bubbleDragonSecondLua\src\client\simulator\win32\bubbleDragonSecondLua.exe</StartProgram>
    <StartArguments />
    <StartWorkingDirectory>E:\svn\games\bubbleDragonSecondLua\src\client</StartWorkingDirectory>
  </propertyGroup>
</Project>