<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>decals_charactor</key>
        <array>
            <dict>
                <key>path</key>
                <string>decals (2).png</string>
                <key>goods</key>
                <array>
                    <integer>1</integer>
                    <integer>2</integer>
                </array>
            </dict>
        </array>
        <key>decals_treasure</key>
        <array>
            <dict>
                <key>path</key>
                <string>decals (2).png</string>
                <key>goods</key>
                <array>
                    <integer>1</integer>
                </array>
            </dict>
            <dict>
                <key>path</key>
                <string>decals (3).png</string>
                <key>goods</key>
                <array>
                    <integer>5</integer>
                </array>
            </dict>
            <dict>
                <key>path</key>
                <string>decals (4).png</string>
                <key>goods</key>
                <array>
                    <integer>6</integer>
                </array>
            </dict>
        </array>
    </dict>
</plist>
