<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>game_sign_day_numble</key>
        <integer>6</integer>
        <key>strength</key>
        <integer>5</integer>
        <key>md5</key>
        <string>6ed754a2200f9b4018644f8372acc05b</string>
        <key>coin</key>
        <integer>8995</integer>
        <key>bigEyes</key>
        <integer>4</integer>
        <key>diamond</key>
        <integer>8990</integer>
        <key>search</key>
        <integer>6</integer>
        <key>woodenHammer</key>
        <integer>7</integer>
        <key>bigBombBomb</key>
        <integer>1</integer>
        <key>addTime</key>
        <integer>5</integer>
        <key>staves</key>
        <integer>3</integer>
        <key>colorBomb</key>
        <integer>2</integer>
        <key>unlockCharactorNumble</key>
        <integer>2</integer>
    </dict>
</plist>
