<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>woodenHammer</key>
        <integer>70</integer>
        <key>md5</key>
        <string>ce527f5f14c59ade8c410c2e5e10be13</string>
    </dict>
</plist>
