<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ditu03_0023_jinzita-01.png</key>
			<dict>
				<key>width</key>
				<integer>435</integer>
				<key>height</key>
				<integer>373</integer>
				<key>originalWidth</key>
				<integer>435</integer>
				<key>originalHeight</key>
				<integer>373</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiezi_0005_xiezi-01.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>105</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>375</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>xiezi_0004_xiezi-02.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>105</integer>
				<key>x</key>
				<integer>107</integer>
				<key>y</key>
				<integer>375</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>xiezi_0003_xiezi-03.png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>105</integer>
				<key>x</key>
				<integer>213</integer>
				<key>y</key>
				<integer>375</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>xiezi_0002_xiezi-04.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>105</integer>
				<key>x</key>
				<integer>324</integer>
				<key>y</key>
				<integer>375</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiezi_0001_xiezi-05.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>105</integer>
				<key>x</key>
				<integer>437</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>xiezi_0000_xiezi-06.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>105</integer>
				<key>x</key>
				<integer>437</integer>
				<key>y</key>
				<integer>95</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>xiezi010.png</string>
			<key>realTextureFileName</key>
			<string>xiezi010.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>